/* Global stuffs */
/* Universal Selector */ 

* {
	color: #62e6f4;
	font-family: "Bank Gothic";
}

html {
	background-color: #113a49;
	margin: 0;
	padding: 0;
}

ul li a, ol li a {
	list-style-type: none;
	font-family: "Bank Gothic";
	font-size: 18px;
	text-decoration: none;
}

h1, p, ul li, ol li, h2, h3, h4, h5, h5, h6 {
	margin-left: 20px;
}

/* end global stuffs */ 

body {
	margin: 0 auto;
	width: 900px;
	background-color: #07212b;
	border: 5px solid #44c4de;
}

h1 {
	font-size: 40px;
}

p {
	font-size: 1em;
}

/* Pseudo- Element */

p:first-letter {
	color: #f98e2f;
	font-size:30px;
}

h2 {
	font-size: 30px;
}

#nav li {
	display: inline;
	width: 100px;
}

.footer li {
	color: #52c338;
}

.footer li span {
	color: #24555C;
}

/* Pseudo- class --Links */

a:link {
	color: #f98e2f;
}

a:visited {
	color: #e34aff;
}

a:hover {
	color: #62e6f4;
}

a:active {
	color: #ed3a3a;
}