/* Global Settings  */
/*======================================*/

ul, li, a, ol, p, h1, h2, h3 {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-size: 2em;
	font-family: mocondo, "helvetica neue", arial, sans-serif;
}

p, ul li a {
	font-size: 1em;
	font-family: "cantora one", "helvetica neue", aria, sans-serif;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
}


/* End Global Settings */ 
/*======================================*/

html {
	background-color: #B9A388;
}

body {
	width: 960px;
	margin: 0 auto;
	background-color: #FFFBDD;
	box-shadow: 2px 2px #887060;
}

/* Header */
/*======================================*/

header {
	overflow: hidden;
	height: 50px;
}

#logo {
	width: 90px;
	height: 50px;
	float: left;
	padding-top: 5px;
	background-color: #506678;
	color: #FFFBDD;
	padding-left: 10px;
}

/* links */
/*======================================*/
#navigation {
	float: right;
	width: 860px;
	height: 50px;
	background-color: #506678;
}

#navigation li {
	float: right;
	width: 15%;
	
}

#navigation li a {
	display: block;
	padding: 15px 0 0 13px;
	height: 100px;
	background-color: #506678;

}

#navigation a:link {
	color: #FFFBDD;
}

#navigation a:visited {
	color: #9CB3BE;
	
}

#navigation a:hover{
	color: #FFFBDD;
	background-color: #9CB3BE;
}

#navigation a:active {
	background-color: #B9A388;
}

/* End Header */
/*======================================*/

/* Main Body */
/*======================================*/

#section {
	clear: both;
	overflow: hidden;
	font-size: 1em;
}


/* LEFT SIDE */ 
/*======================================*/
#float_left h2, #float_left p {
	padding: 10px;
}
#float_left {
	float: left;
	width: 462px;
	margin: 0px 10px 0px 10px;
}



#gallery {
	width: 462px;
	height: 150px;
	border: solid 1px #fff;
	margin: 0 5px;
}

#gallery li {
	float: left;
	width: 154px;
	height: 100px;
	padding: 10px 0 10px 0;
}

#float_left h3, #list ul li {
	clear: left;
	padding: 10px;
}
/* RIGHT SIDE  */ 
/*======================================*/

#float_right h2 {
	clear: both;
	padding: 0 10px;
}

#float_right p {
	padding: 10px 10px;
}

#float_right {
	float: right;
	width: 462px;
	margin: 0px 10px 0px 1px;
}

#catman {
	padding: 10px;
}

























