/* Declaring Golbal Resets and constants
========================================= */

h1, h2, h3, h4, h5, h6, p, ul,li,ol, p, a {
	margin: 0;
	padding: 0;
}

ul li, ol li, a {
	list-style-type: none;
	text-decoration: none;
}
/* End Declarations
========================================= */
/* main CSS 
========================================= */

html {
	background-color: #A4BCC2;
}

body {
	width: 960px;
	margin: 0 auto;
	background-color: #E8F3F8;
	border-style: solid;
	border: 1px 1px #fff;	
}

/* header and navigation -----*/
#logo {
	float: left;
	width: 300px;
	height: 70px;
	text-align: center;
	font-size: 2em;
	background-color: #81A8B8;
	padding-top: 30px;
	color: #E8F3F8;
}

#nav_bar {
	height: 100px;
}
#navigation {
	overflow: hidden;
	float: right;
	width: 660px;
	height: 100px; 
	background-color: #A4BCC2;
}

#navigation li {
	width: 165px;
	height: 100px;
	float: left;
	text-align: center;
}

#navigation li a {
	font-size: 1.5em;
	display: block;
	width: 165px;
	height: 60px;
	background-color: #81A8B8;
	padding-top: 40px;
	color: #E8F3F8;
}

a:link {}

a:visited {
	color: red;
}

#navigation .links a:hover {
	color: black;
	background-color: #C2CBCE;
}

#navigation .links a:active {
	color: #fff;
	background-color: #C3BAC9;
}

/* end header and navigation -----*/

#content_float {
	clear: both;
	margin-top: 10px;
	font-size: 1em;
	float: left;
	width: 480px;
	margin: 10px 10px;
}

#content_flaot p {
	margin-top: 10px;
}
























